worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    server {
        listen 80;
        server_name ${SERVER_DOMAIN};

        location / {
            default_type text/html;
            return 200 "<h1>Nginx is running successfully!</h1>";
        }
    }
}
